body{
  padding:0;
}

.clearfix{
  clear: both;
}

.hidden{display: none;}

#header{
  height: 70px;
  text-align: center;
}

#leftColumn{
  width: 200px;
  float: left;
}

#leftMenu, #loginBox, #registerBox{
  padding-bottom: 20px;
}

#centerColumn{
  width: calc(100% - 300px);
  float: left;
  margin-left: 90px;


}

#footer{
  clear: both;
}

.menuCaption{
  padding: 3px;
  font-weight: bold;
}

.cartbox{
  padding: 5px 0;
}


.gird{

  .product{
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    width: 25%;
    height: 300px;
    background-color: #f0c040;
    float:left;

  }


}